body {
    background: linear-gradient(90deg, #161515, rgb(54, 0, 54));
    transition: background 0.5s ease-in-out;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.weather-icon-link:hover img {
    transform: scale(1.1);
    filter: brightness(120%);
}

.card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.weather-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #555;
}

.weather-icon-link img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    animation: floatAnimation 4s infinite linear;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Day style */
.day-mode {
    background: linear-gradient(90deg, #f5f5f5, #ffcccc);
}

.day-card {
    background: #fff;
    color: #000;
}

.day-footer {
    background: #000;
    color: #fff;
}

/* Night style */
.night-mode {
    background: linear-gradient(90deg, #161515, rgb(54, 0, 54));
}

.night-card {
    background: #000;
    color: #fff;
}

.night-footer {
    background: #000;
    color: #fff;
}

/* Script style */

.card-body,
.card-footer,
#mainImg {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(-10px);
}